/*  */

h1{
    font-family: 'Nunito', sans-serif;
}
.homeimg{
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)),url(images/homeimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -10; */
}
.animation{
    animation: slideInleft 1s both;
}
@keyframes slideInleft{
    0% {
        transform: translate3d(-100%,0,0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
}
.home img{
    animation: imgrotate 50s linear infinite;
}
@keyframes imgrotate{
    100%{
        transform: rotate(360deg);
    }
}
/* home-img end */